*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body_container{
    padding: 30px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: 3px solid purple;
}